# Ignore bundler config
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.pid
/tmp

# Ignore database configuration
/config/database.yml

# Ignore uploaded assets
/public/system/*

# Ignore rspec
.rspec
/spec/tmp/*

# Mac
.DS_Store
*.tmproj

# Provided by github
*.rbc
*.sassc
.sass-cache
capybara-*.html
/coverage/
**.orig
rerun.txt
pickle-email-*.html
