.companies
  %h1 Companies
  .grid_8.push_2.clearfix
    %table.index
      %tr
        %th Key
        %th Name
        %th &nbsp;
      - companies.each do |company|
        %tr{ color_cycle }
          %td= company.key
          %td= company.name
          %td
            = link_to 'Edit', edit_company_path(company)
            =# link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete
      %tr
        %td{ colspan: '2' }
        %td
          .actions
            = link_to 'New', new_company_path
