.employees  {

  form {
    .field {
      display: block;
      margin: 0.5em 0;
      label {
        display: inline-block;
        width: 10em;
      }
    }
    input[type='text'] {
      border: 1px solid #CCC;
      padding: 4px;
    }

    .employee_started_at,
    .employee_terminated_at,
    .until {
      select {
        &:nth-of-type(1) {
          width: 5em;
        }
        &:nth-of-type(2) {
          width: 8em;
        }
        &:nth-of-type(3) {
          width: 6em;
        }
      }
    }

    table.employee_rates {    
      width: 100%;
      max-width: 100%;
      
      td {
        padding: 5px;
      }
      
      th {
        font-weight: bold;
        padding-left: 0.5em;
        padding-bottom: 0.5em;
      }
      
      td, th {
        text-align: left;
      }
      
      input[type='text'] {
        width: 4em;
      }

      thead {
        border-bottom: 1px dotted #CCC;
      }

      input[type='checkbox'][disabled] + label {
        color: #CCC;
      }

      tbody {
        td.until,
        td.delete {
          white-space: nowrap;
        }
      }
    }
  }
}

