body > .header {
	position: relative;
	width: 100%;
    background-image: -moz-linear-gradient(top, #81a8cb, #4477a1); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #4477a1),color-stop(1, #81a8cb)); /* Safari & Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1')"; /* IE8 */
	border-bottom: 1px solid black;
}

body > .header ul.nav {
	list-style: none;
	top: 15px;
}

body > .header ul.nav > li {
	/*float: left;*/
}

body > .header ul.nav a,
body > .header ul.nav a:visited {
	color: white;
	text-decoration: none;
}

body > .header ul.nav a:hover,
body > .header ul.nav a:active {
	text-decoration: underline;
	background-color: inherit;
}
