// Place all the styles related to the RosterDates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.roster_dates  {
	margin-top: 1em;
	
	.nav {
		text-align: right;
	}

	.nav.calendar_from {
		margin-bottom: 0.5em;
	}

	.nav.calendar_until {
		margin-top: 0.5em;
	}
	
	.calendar {
		input[type='text'] {
			padding: 4px;
			border: 1px solid #CCC;
			width: 6em;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			// margin: 0 auto;

			th, td {
				font-family: "Lucida Grande",arial,helvetica,sans-serif;
				padding: 0.5em;
				border: 1px solid #999;
			}
		}

		a.roster_date_day_number,
		a.roster_date_day_number:hover,
		a.roster_date_day_number:visited {
			text-decoration: none;
			color: #666;
			background-color: inherit;
		}

		a.duplicate,
		a.delete {
			display: inline-block;
			text-decoration: none;
			float: right;
			font-size: 0.8em;
			color: #999;
			&:hover {
				background-color: inherit;
				text-decoration: underline;
			}
		}
	}

	&.duplicate {
		.calendar {
			.copy {
				font-size: 0.9em;
				color: #333;
			}
			.actions {
				margin: 1em 0;
				text-align: right;
			}
		}
	}	

	form.new_roster_date,
	form.edit_roster_date {
		table hr {
			border-top: 1px dotted #CCC;
		}
		input[type='text'] {
			margin: 0;
			padding: 4px;
			border: 1px solid #CCC;
		}
		table {
			width: 100%;
			margin-bottom: 0;
			td {
				height: 2em;
				vertical-align: middle;
			}
			+ hr {
				border-top: 1px dotted #CCC;
			}
		}
		.employee {
			label {
				display: inline-block;
				font-weight: bold;
				width: 6em;
			}
		}
		.locked {
			text-align: right;
		}
		.customer {
			select {
				width: 12em;
			}
			label {
				display: inline-block;
				font-weight: bold;
				width: 6em;
			}
		}
		.project {
			select {
				width: 12em;
			}
			label {
				display: inline-block;
				font-weight: bold;
				width: 6em;		
			}
		}
		.activity {
			select {
				width: 12em;
			}
			label {
				display: inline-block;
				font-weight: bold;
				width: 6em;		
			}
		}
		.hours {
			text-align: right;
			input {
				width: 6em;
			}
			label {
				display: inline-block;
				font-weight: bold;
				width: 6em;
				margin-right: 0.5em;	
			}
		}
		.description {
			label {
				display: inline-block;
				font-weight: bold;
				width: 6em;
			}
			input {
				width: 18em;
			}
		}
		.schedule_rate {
			text-align: right;
		}
		.schedule_rates {
			width: 90%;
			margin: 0 auto;
			th label {
				font-weight: bold;
				display: inline-block;

			}
			th.verified,
			td.verified {
				text-align: center;
				width: 6em;
			}
			td.rate input[type='text'] {
				width: 6em;
			}
			td.until {
				text-align: right;				
			}
		}
		.actions {
			text-align: right;
			margin: 0;
		}
		.calculations {
			text-align: right;
			label {
				font-weight: bold;
			}
			#total_hours,
			#total_amount {
				display: inline-block;
				width: 6em;
			}
		}
		.source_roster_date {
			font-weight: bold;
			display: block;
		}
		.wdays {
			display: table;
			width: 100%;
			margin-top: 0.5em;
			.wday {
					display: table-cell;
					text-align: center;
					label {
						margin-left: 0.5em;
					}
			}
		}
		.roster:last-child {
			button.add_shift {
				display: none;
			}
		}
	}
}

.calendar th {
	background: #DDD;
	color: #666;
	text-align: center;
	width: 14.2857142857143%;
}

.calendar td {
	background: #FFF;
	color: #777;
	height: 80px;
	vertical-align: top;
	font-size: 1em;
}

.calendar .notmonth {
  color: #CCC;
}

.calendar #month {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.calendar #month a,
.calendar #month a:hover {
	text-decoration: none;
	padding: 0 10px;
	color: #999;
}

.calendar .weekend {
	background-color: #EFEFEF;
}
.calendar .today {
	background-color: #D7F2FF;
}

.calendar ul {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	list-style: none;
}

.calendar li {
	margin: 0;
	padding: 0;
	font-size: 11px;
	text-align: center;
}

.calendar a.roster {
	display: block;
	width: 100%;
	text-align: center;
	height: 20px;
	text-decoration: none;
}
