// Place all the styles related to the rosters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rosters form.edit_roster {
  .customer_project {
    span {
      display: block;
    }
    label {
      font-weight: bold;
      display: inline-block;
      width: 6em;
    }
    select {
      width: 12em;
    }
  }
  .budget_invoiced {
    span.budget,
    span.invoiced {
      display: block;
      float: right;
      > span.value {
        width: 6em;
        display: inline-block;
        text-align: right;
      }
    }
    label {
      width: 6em;
      font-weight: bold;
      display: inline-block;
      text-align: right;
      margin-right: 0.5em;
    }
  }
  hr {
    margin: 1em 0;
  }
  .days_of_week {
    > label {
      font-weight: bold;
      display: inline-block;
      float: left;
    }
    span.wday {
      margin: 0 0 0.2em 6em;
      display: block;
      label {
        margin-left: 0.2em;
      }
      input[type='checkbox'][disabled] + label {
        color: #CCC;
      }
    }
  }
  .actions {
    float: right;
  }
  .duration {
    > span {
      float: right;
      clear: right;
      display: block;
      > label {
        width: 6em;
        font-weight: bold;
        text-align: right;
        margin-right: 0.5em;
      }
      > span.value {
        width: 6em;
        display: inline-block;
        text-align: right;
      }
      input[type='text'] {
        width: 90%;
        border: 1px solid #AAA;
        padding: 0.2em;
      }
    }
  }
  .protected {
    > input[type='checkbox'] {
      margin-left: 6em;
    }
    > label {
      font-weight: bold;
    }
  }
  .calculations {
    > span {
      clear: right;
      float: right;
      display: inline-block;
      > label {
        font-weight: bold;
      }
      > span.value {
        width: 6em;
        display: inline-block;
        text-align: right;
      }
    }
  }
  .probability {
    margin-top: 1em;
    position: relative;
    label {
      font-weight: bold;
      width: 6em;
    }
    input[type='range'] {
      position: relative;
      top: 0.5em;
      width: 12em;
    }
  }
  .actions {
    text-align: right;
    margin-top: 1em;
  }
}
